* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  padding: 12px 40px;
  gap: 10px;
  background-color: #FDF18D;
  border-radius: 10px;
}

@media (max-width: 1199.98px) {
  .button {
    padding: 12px 32px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 767.98px) {
  .button {
    padding: 16px 32px;
  }
}
.hero {
  background: no-repeat right top url("../img/hero/ellipse-1.png");
  height: 1000px;
}
.hero__content-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.hero__text-block {
  max-width: 520px;
  position: relative;
}
.hero__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 32px;
}
.hero__title_pink {
  color: #FC8AD0;
}
.hero__subtitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 124%;
  margin-bottom: 40px;
}
.hero__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130.5%;
  color: #5F5F5F;
  margin-bottom: 40px;
}
.hero__button {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 288px;
}
.hero__arrow-text {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #5F5F5F;
  position: absolute;
  bottom: -110px;
  right: 100px;
}
.hero__arrow {
  position: absolute;
  bottom: -195px;
  right: -10px;
}
.hero__img-block {
  position: relative;
  width: 715px;
  height: 675px;
}
.hero__img-1 {
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
}
.hero__img-2 {
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  margin-bottom: 60px;
}
.header__logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 14px;
}
.header__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120.02%;
  color: #202020;
}
.header__button {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
}

@media (max-width: 1199.98px) {
  .hero {
    background: no-repeat right top url("../img/hero/tablet/bg.png");
    height: 510px;
  }
  .hero__content-block {
    position: relative;
  }
  .hero__text-block {
    max-width: 300px;
    position: static;
  }
  .hero__title {
    font-size: 18px;
    line-height: 22px;
  }
  .hero__subtitle {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .hero__text {
    display: none;
  }
  .hero__button {
    padding-top: 11px;
    padding-bottom: 11px;
    width: 251px;
  }
  .hero__arrow-text {
    font-size: 20px;
    line-height: 24px;
    bottom: 0px;
    left: 160px;
  }
  .hero__arrow {
    width: 120px;
    height: 66px;
    position: absolute;
    bottom: -70px;
    left: 240px;
  }
  .hero__img-block {
    width: 502px;
    height: 310px;
  }
  .hero__img-1 {
    width: 282px;
    height: 188px;
  }
  .hero__img-2 {
    width: 259px;
    height: 179px;
  }
  .header {
    padding-top: 26px;
    margin-bottom: 12px;
  }
  .header__logo {
    width: 40px;
    height: 48px;
    margin-right: 12px;
  }
  .header__title {
    font-size: 16px;
  }
  .header__button {
    font-size: 18px;
    line-height: 22px;
    padding: 16px 32px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    background: no-repeat bottom url("../img/hero/phone/bg.png");
    height: 670px;
  }
  .hero__content-block {
    flex-direction: column;
  }
  .hero__text-block {
    max-width: none;
    margin-bottom: 53px;
  }
  .hero__subtitle {
    margin-bottom: 24px;
  }
  .hero__button {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .hero__arrow-text {
    display: none;
  }
  .hero__arrow {
    display: none;
  }
  .hero__img-block {
    width: 320px;
    height: 258px;
  }
  .hero__img-1 {
    width: 244px;
    height: 163px;
  }
  .hero__img-2 {
    width: 220px;
    height: 152px;
  }
  .header {
    padding-top: 19px;
    margin-bottom: 34px;
  }
  .header__logo {
    width: 32px;
    height: 38px;
  }
  .header__button {
    margin-left: 60px;
    border: 2px solid #FC8AD0;
    color: #FC8AD0;
  }
}
.results__block {
  margin-bottom: 100px;
}
.results__title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0.02em;
  opacity: 0.5;
  color: #5F5F5F;
  margin-bottom: 40px;
}
.results__content-block {
  display: flex;
  justify-content: space-between;
}
.results__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 295px;
  height: 231px;
  box-shadow: 0px 0px 6px rgba(50, 42, 50, 0.25);
  border-radius: 10px;
  padding: 16px 16px 24px 16px;
}

.result-item__icon {
  margin-bottom: 7px;
}
.result-item__title {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 126%;
  letter-spacing: 0.02em;
  color: #5F5F5F;
}

@media (max-width: 1199.98px) {
  .results__title {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .results__item {
    width: 161px;
    height: 252px;
    padding: 16px 8px;
  }
  .result-item__icon {
    margin-bottom: 2px;
    width: 138px;
    height: 138px;
  }
  .result-item__title {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .results__block {
    margin-top: 30px;
  }
  .results__title {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 20px;
  }
  .results__content-block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .results__item {
    width: 150px;
    height: 216px;
    padding: 12px 3px 12px 3px;
    margin-bottom: 20px;
  }
  .result-item__icon {
    width: 121px;
    height: 113px;
  }
  .result-item__icon img {
    width: 121px;
    height: 113px;
  }
  .result-item__title {
    font-size: 16px;
  }
}
.adv-1 {
  background: no-repeat left center url("../img/adv-1/bg.png");
  font-family: "Inter", sans-serif;
  padding-top: 160px;
  height: 640px;
}
.adv-1__block {
  display: flex;
  justify-content: space-between;
}
.adv-1__form {
  color: #fff;
  max-width: 400px;
}
.adv-1__content-block {
  max-width: 610px;
  color: #202020;
  font-family: "Inter", sans-serif;
}
.adv-1__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 126%;
  letter-spacing: 0.02em;
}
.adv-1__line {
  margin-bottom: 24px;
  color: #FC8AD0;
  border: 2px solid #FC8AD0;
  opacity: 1;
}
.adv-1__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 135.5%;
  letter-spacing: 0.02em;
}

.form-block__title {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 126%;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.form-block__subtitle {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.form-block__tel-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 44px;
  padding: 14px 20px;
  border: 2px solid #FDF18D;
  border-radius: 10px;
  margin-bottom: 5px;
}
.form-block__tel-icon {
  margin-right: 16px;
}
.form-block__tel {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  letter-spacing: 0.02em;
  color: #fff;
}
.form-block__tel::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.form-block__tel:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.form-block__tel::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.form-block__checkbox-label {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 126%;
  letter-spacing: 0.02em;
}
.form-block__accept-button {
  margin-top: 32px;
  width: 161px;
}

@media (max-width: 1199.98px) {
  .adv-1 {
    background: no-repeat center bottom url("../img/adv-1/tablet/bg.png");
    padding-top: 0;
    height: 660px;
  }
  .adv-1__block {
    flex-direction: column-reverse;
    align-items: center;
  }
  .adv-1__content-block {
    max-width: none;
    margin-bottom: 100px;
  }
  .adv-1__title {
    font-size: 40px;
  }
  .adv-1__line {
    margin-top: 5px;
    width: 644px;
  }
  .form-block__accept-button {
    width: 145px;
  }
}/*# sourceMappingURL=style.css.map */