.hero
  background: no-repeat right top url('../img/hero/ellipse-1.png')
  // .hero__block
  &__block

  // .hero__content-block
  &__content-block

  // .hero__text-block
  &__text-block

  // .hero__title
  &__title
    // .hero__title_pink
    &_pink

  // .hero__subtitle
  &__subtitle

  // .hero__text
  &__text

  // .hero__button
  &__button

  // .hero__arrow-text
  &__arrow-text

  // .hero__arrow
  &__arrow

  // .hero__img-block
  &__img-block

  // .hero__img-1
  &__img-1

  // .hero__img-2
  &__img-2


.header
  display: flex
  justify-content: space-between
  align-items: center
  padding-top: 23px
  margin-bottom: 60px
  // .header__logo-block
  &__logo-block
    display: flex
    justify-content: space-between
    align-items: center
  // .header__logo
  &__logo
    margin-right: 14px
  // .header__title
  &__title
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 120.02%
    color: $black
  // .header__button
  &__button
    display: flex
    user-select: none
    text-decoration: none
    outline: none
    font-family: 'Inter', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 20px
    line-height: 24px
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 16px 40px
    gap: 10px
    border: 2px solid $light
    border-radius: 10px
    color: $light

.button



